@import 'reset';
@import 'config';

.all {
    position: relative;
    margin: 0 auto;
    width: 25%;
    padding-bottom: 20%;
    .court_3d {
        position: absolute;
        width: 100%;
        margin-top: 30%;
        perspective: 500px;
        z-index: 2;    
        .court {
            position: relative;
            box-sizing: border-box;
            width: 100%;
            padding-bottom: 50%;
            background:#01e66c;
            border: 5px solid #fff;
            box-shadow: 0 0 8px rgba(#001f0e,0.65);
            overflow: hidden;
            transform-style:preserve-3d;
            transform: rotateX(60deg); 
            .line {
                position: absolute;
                width: 2px;
                padding-bottom: calc(50% + 5px);
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                background: #fff;
                z-index: 1;
            }
            .center_circle {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 25%;
                padding-bottom: calc(25% - 4px);
                box-sizing: border-box;
                border: 2px solid #fff;
                border-radius: 50%;
                transform: translate(-50%,-50%);
                z-index: 2;
            }
            .corner_cirle {
                position: absolute;
                top: 0;
                width: 6%;
                padding-bottom: calc(6% - 4px);
                box-sizing: border-box;
                border: 2px solid #fff;
                border-radius: 50%;
                z-index: 2;
                &.leftTop {
                    left: 0;
                    margin: -2.8% 0 0 -3%;
                }
                &.leftBottom {
                    left: 0;
                    margin: 48% 0 0 -3%;
                }
                &.rightTop {
                    right: 0;
                    margin: -2.8% -3% 0 0;
                }
                &.rightBottom {
                    right: 0;
                    margin: 48% -3% 0 0;
                }
            }
            .squareBig {
                position: absolute;
                top: 50%;
                width: 15%;
                padding-bottom: calc(30% - 4px);
                box-sizing: border-box;
                border: 2px solid #fff;
                transform: translateY(-50%);
                z-index: 2;
                &.left {
                    left: 0;
                    margin-left: -2px;
                }
                &.right {
                    right: 0;
                    margin-right: -2px;
                }
            }
            .squareSmall {
                position: absolute;
                top: 50%;
                width: 5%;
                padding-bottom: calc(15% - 4px);
                box-sizing: border-box;
                border: 2px solid #fff;
                transform: translateY(-50%);
                z-index: 2;
                &.left {
                    left: 0;
                    margin-left: -2px;
                }
                &.right {
                    right: 0;
                    margin-right: -2px;
                }
            }
            .midden_circle {
                position: absolute;
                top: 50%;
                width: 10%;
                padding-bottom: calc(10% - 4px);
                box-sizing: border-box;
                border: 2px solid;
                border-color: #fff #fff transparent transparent;
                border-radius: 50%;
                z-index: 2;
                &.left { 
                    transform: translateY(-50%) rotate(45deg);
                    left: 9.5%;
                }
                &.right {
                    transform: translateY(-50%) rotate(225deg);
                    right: 9.5%;
                }
            }
        }
    }
    .gate_leftA {
        position: absolute;
        width: 27%;
        margin-top: 37.5%;
        left: -27%;
        z-index: 3;
        svg {
            position: relative;
            .st0{fill:none;stroke:#E6E6E6;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            .st1{fill:none;stroke:#E6E6E6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            .st2{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
            .st3{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
        }
    }
    .gate_leftB {
        position: absolute;
        width: 15%;
        margin-top: 37.2%;
        left: -14%;
        z-index: 1;
        svg {
            position: relative;
            .st0{fill:none;}
            .st1{fill:#FFFFFF;}
            .st2{fill:#E6E6E6;}
        }
    }
    .gate_rightA {
        position: absolute;
        width: 27%;
        margin-top: 37.5%;
        right: -27%;
        transform: rotateY(180deg)translateZ(-1px);
        z-index: 3;
        svg {
            position: relative;
            .st0{fill:none;stroke:#E6E6E6;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            .st1{fill:none;stroke:#E6E6E6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            .st2{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
            .st3{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
        }
    }
    .gate_rightB {
        position: absolute;
        width: 15%;
        margin-top: 37.2%;
        right: -14%;
        transform: rotateY(180deg);
        z-index: 1;
        svg {
            position: relative;
            .st0{fill:none;}
            .st1{fill:#FFFFFF;}
            .st2{fill:#E6E6E6;}
        }
    }
    .soccerBall {
        position: absolute;
        top: 0;
        left: 50%;
        margin-top: 35%;
        width: 18%;
        transform: translate(-50%,0%);
        border-radius: 50%;
        box-shadow: 0 0 8px rgba(#000,0.3);
        z-index: 2;
        animation: ready infinite 2s 1s;
        &:before {
            content: '';
            opacity: 0;
            position: absolute;
            top: 0;
            left: 50%;
            margin-top: -40%;
            transform: translate(-50%,0%);
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 15px solid #f00;
            animation: flash 2s 1s infinite;
        }
        .inside {
            position: relative;
            overflow: hidden;
            width: 100%;
            padding-bottom: 100%;
            border-radius: 50%;
            background: #fff;
            box-shadow: 0 0 10px rgba(#000,0.3) inset;
            animation: ballrotate infinite 1s linear;
            animation-play-state: paused;
            transform: rotate(0deg);
            &:hover {
                cursor: pointer;
                animation-play-state: running;
            }
            .pentagonB {
                position: absolute;
                width: 40%;
                fill:rgb(24, 24, 24);
                &.center {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
                &.top {
                    width: 35%;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%,-50%) rotate(180deg);
                }
                &.right {
                    width: 35%;
                    top: 35%;
                    right: 0;
                    transform: translate(50%,-50%) rotate(-110deg);
                }
                &.left {
                    width: 35%;
                    top: 35%;
                    left: 0;
                    transform: translate(-50%,-50%) rotate(110deg);
                }
                &.leftBottom {
                    width: 35%;
                    top: 95%;
                    left: 20%;
                    transform: translate(-50%,-50%) rotate(110deg);
                }
                &.rightBottom {
                    width: 35%;
                    top: 95%;
                    right: 20%;
                    transform: translate(50%,-50%) rotate(-110deg);
                }
            }
        }
    }
    // 得分
    .score {
        position: absolute;
        width: 40%;
        z-index: 2;
        left: 50%;
        margin-top: 50%;
        transform: translateX(-50%);
        opacity: 0;
        animation: none;
        .inside {
            position: relative;
            width: 100%;
            p {
                width: 100%;
                position: absolute;
                text-align: center;
                font-size: 20px;
                color: #fff;
                font-weight: bold;
                background: #00ff6f;
                box-sizing: border-box;
                border-radius: 50px;
                text-shadow: 0 2px 5px rgba(#000,0.3);
                box-shadow: 0 0 8px rgba(#fff,0.8);
                padding: 5% 2%;
                z-index: 2;
            }
            .ribbon1 {
                position: absolute;
                opacity: 0;
                left: 0;
                width: 5%;
                padding-bottom: 10%;
                margin: 10% 0 0 20%;
                background: #f00;
                transform: rotate(-45deg);
                z-index: 1;
                animation: none;
            }
            .ribbon2 {
                position: absolute;
                opacity: 0;
                right: 0;
                width: 5%;
                padding-bottom: 10%;
                margin: 10% 20% 0 0;
                background: rgb(0, 140, 255);
                transform: rotate(45deg);
                z-index: 1;
                animation: none;
            }
            .ribbon3 {
                position: absolute;
                opacity: 0;
                left:50%;
                width: 5%;
                padding-bottom: 10%;
                margin: 10% 0 0 0;
                background: rgb(229, 255, 0);
                transform: rotate(0deg) translateX(-50%);
                z-index: 1;
                animation: none;
            }
            .ribbon4 {
                position: absolute;
                opacity: 0;
                left:20%;
                width: 5%;
                padding-bottom: 10%;
                margin: 10% 0 0 0;
                background: rgb(234, 0, 255);
                transform: rotate(-15deg);
                z-index: 1;
                animation: none;
            }
            .ribbon5 {
                position: absolute;
                opacity: 0;
                right:20%;
                width: 5%;
                padding-bottom: 10%;
                margin: 10% 0 0 0;
                background: rgb(0, 255, 0);
                transform: rotate(15deg);
                z-index: 1;
                animation: none;
            }
        }
    }
    // 未得分
    .unscore {
        position: absolute;
        width: 40%;
        z-index: 2;
        left: 50%;
        margin-top: 50%;
        transform: translateX(-50%);
        opacity: 0;
        animation: none;
        .inside {
            position: relative;
            width: 100%;
            p {
                width: 100%;
                position: absolute;
                text-align: center;
                font-size: 20px;
                color: #fff;
                font-weight: bold;
                background: #757575;
                box-sizing: border-box;
                border-radius: 50px;
                text-shadow: 0 2px 5px rgba(#000,0.3);
                box-shadow: 0 0 8px rgba(#000,0.8);
                padding: 5% 2%;
                z-index: 2;
            }
        }
    }
    // 得分版
    .scoreboard {
        position: absolute;
        top: 0;
        left: 50%;
        width: 35%;
        margin-top: 65%;
        transform: translateX(-50%);
        z-index: 3;
        .inside {
            box-sizing: border-box;
            position: relative;
            width: 100%;
            background: #3d3d3d;
            border: 2px solid rgb(54, 54, 54);
            border-radius: 5px;
            text-align: center;
            span {
                display: inline-block;
                vertical-align: middle;
                color: #fff;
                font-size: 30px;
                font-weight: bold;
                padding: 5%;
                &.center {
                    padding: 0 5% 3% 5%;
                }
            }
        }
    }
}

// 點球結果A(左邊進球)
.getPoint_left {
    .soccerBall { 
        animation: attackA 5s;
        &::before {
            animation: none;
        }
        .inside { 
            animation: ballrotate2 2s ease-out;
        }
    }
    .score {
        animation: success 3s 2s;
        .inside { 
            .ribbon1 {
                animation: ribbon1 2s 2.5s;
            }
            .ribbon2 {
                animation: ribbon2 2s 2.5s;
            }
            .ribbon3 {
                animation: ribbon3 2s 2.5s;
            }
            .ribbon4 {
                animation: ribbon4 2s 2.5s;
            }
            .ribbon5 {
                animation: ribbon5 2s 2.5s;
            }
        }
    }
}

// 點球結果B(右邊進球)
.getPoint_right {
    .soccerBall { 
        animation: attackB 5s;
        &::before {
            animation: none;
        }
        .inside { 
            animation: ballrotate2 2s ease-out;
        }
    }
    .score {
        animation: success 3s 2s;
        .inside { 
            .ribbon1 {
                animation: ribbon1 2s 2.5s;
            }
            .ribbon2 {
                animation: ribbon2 2s 2.5s;
            }
            .ribbon3 {
                animation: ribbon3 2s 2.5s;
            }
            .ribbon4 {
                animation: ribbon4 2s 2.5s;
            }
            .ribbon5 {
                animation: ribbon5 2s 2.5s;
            }
        }
    }
}

// 點球結果C(左邊未進球)
.fail_left {
    .soccerBall { 
        animation: attackC 5s;
        z-index: 4;
        &::before {
            animation: none;
        }
        .inside { 
            animation: ballrotate2 2s ease-out;
        }
    }
    .unscore {
        animation: fail 3s 2s;
    }
    .gate_leftA {
        animation: hitGateLA 2s 0.75s;
    }
    .gate_leftB {
        animation: hitGateLB 2s 0.75s;
    }
}

// 點球結果D(右邊未進球)
.fail_right {
    .soccerBall { 
        animation: attackD 5s;
        z-index: 4;
        &::before {
            animation: none;
        }
        .inside { 
            animation: ballrotate2 2s ease-out;
        }
    }
    .unscore {
        animation: fail 3s 2s;
    }
    .gate_rightA {
        animation: hitGateRA 2s 0.75s;
    }
    .gate_rightB {
        animation: hitGateRB 2s 0.75s;
    }
}

// RWD
@media screen and (max-width:1000px) {
    .all {
        width: 50%;
        .court_3d {
            .court {
                border: 3px solid #fff;
            }
        }
        .soccerBall {
            &::before {
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid #f00;
            }
        }
        .scoreboard {
            .inside {
                span {
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (max-width:700px) {
    .all {
        width: 55%;
        .soccerBall {
            &::before {
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 8px solid #f00;
            }
        }
        .scoreboard {
            .inside {
                span {
                    font-size: 16px;
                }
            }
        }
        .score {
            .inside {
                p {
                    font-size: 15px;
                }
            }
        }
        .unscore {
            .inside {
                p {
                    font-size: 15px;
                }
            }
        }
    }
}